h1{
    text-align: center;
    color: floralwhite;

}

h2{
    text-align: center;
    font-style: italic;
    color: gray;
}
h3{
    text-align: center;
    font-style: italic;
    color: slategrey;
}
h5{
    color: darkgray;
}
h6{
    font-size: 15px;
    text-align: center;
}
.barraL p{
    color: whitesmoke;
    font-size: 15px;
}
table{
    border: 2px solid black;
}

th, td, tr{
    text-align: center;
    border: 2px solid darkslateblue ;
}
aside li{
    color: whitesmoke;
    text-align: center;
}
article li{
    color: whitesmoke;
    text-align: center;
}
aside table{
    border: whitesmoke;
    color: gray;
}
aside th, td{
    border: 1px solid whitesmoke;

}
aside p{
    color: whitesmoke;
    text-align: justify;
}

ul li {
    list-style-type: square;
    list-style-image: inherit;
 }
 .rss {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
footer p{
    color: blanchedalmond;
}


