
*{
    padding: 1px;
    margin: 1px;
    
}
body{
	background: url(../Imagenes/fondo1.jpg) ;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: auto;
}
header{
    height: 150px;
	margin-bottom: 15px;		
}
nav{
	padding:0;
	height:50px;
	margin-bottom: 15px;
	font-size: 100%;
	font-family: arial;
	background:-moz-linear-gradient(top,#402C60 ,#31405B);
	background:-webkit-linear-gradient(top,#402C60 ,#31405B)  ;
}
.secciones{
	width: 100%;
	height: 750px;
    margin-bottom: 15px;
    margin-left: 245px;
    position: relative;
    float: right;	
    display:block;
}
.secciones1{
	width: 100%;
	height: 850px;
    margin-bottom: 20px;
	margin-left: 245px;
	margin-right: 15px;
    position: relative;
    float: right;	
	display:block;
	border: #ffffff;
}
.secciones2{
	width: 100%;
    margin-bottom: 20px;
	margin-left: 245px;
	margin-right: 15px;
    position: relative;
    float: right;	
	display:block;
	border: #ffffff;
}
footer{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2475px;
}
nav a:hover{
	background:-moz-linear-gradient(top,#402C60 ,#31405B);
	background:-webkit-linear-gradient(top,#402C60 ,#31405B)  ;
	color: #ffffff;
}
nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration:none;
}

.menu_h{
    list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu_h a {
	margin: 5px;
	width: 145px;
	text-align: center;
	padding: 6px;
	border: 1px solid white;
  	display: block;
    background-color: #49447E;
    font-size: 12px;
	font-style: italic; 
	color:black;    
}
.menu_h li{
	float: left;
	top:4px;
	position: relative;
	color: white;

}

a {
	cursor:help;
	top:50px;
}


aside a {
	padding: 3px;
}
aside a:hover{
	background-color: rgb(158, 132, 158);
	color: #ffffff;	
}
aside a:link {
  text-decoration:none;
  color: #402C60;

}
aside a:visited {
  text-decoration:none;
}

#cabecera{
	float: left;
	margin-bottom: 15px;	
	font-family: arial;
	padding: 10px;
	width: 45%;
	height: 50%;
	text-align: justify;
	font-size: large;
	color:black;
}
#logo1{

	position: relative;
	height: 100px;	
	float: left;
}
#buscar {
    margin: 0;
    padding: 10px;
    float: none;
    width: auto;
    font-size: 100%;
}

#buscar {
	
  	padding: 2px;
  	position: absolute;
	width: 30%;
	left: 35%;
	text-align: center;
  	top: 80px;
}
#info{

	float: right;	
}

#trailer{
	float: right;
	/*padding: 10px;*/
	width: 50%;
	height: 50%;
	margin-right: 30px;	
}

#sec1{

	height: auto;
}

#intro{
width: 100%;
margin-top: 15px;
}
#iconoF{
	width: 6.5%;
	height:65px;
	position: relative;
	left: 15px;
	margin-top: 10px;
	margin-right: auto;
	text-align: center;

}
#iconoI{
	position: relative;
	left:6.5%;
	top: -68px;
	width: 6.5%;
	height:65px;
	text-align: center;
}

#logP1{
	width: 13%;
	height:130px;
	position: relative;
	margin-right: auto;
	text-align: center;
	top: -120px;
	left: -65px;
	font-size: 25px;
}
#informacion{
	position: relative;
	margin-right: auto;
	float: right;
	margin-top: unset;
	top: -260px;
}
#imag{
	text-align: center;
}
#capa1{
	width: 22%;
	height:170px;
	border: whitesmoke solid ;
	position: relative;
	top:25px; 
	left:55px;
	margin-right: auto;
	text-align: center;
	color:gray;
}
#capa2{
    width: 22%;
	height:170px;
	border:  whitesmoke solid ;
	position: relative; 
	left:375px;
	top:-152px;
	margin-right: auto;
	text-align: center;
	color:gray;
}

#capa3{
    width: 22%;
	height:170px;
	border:whitesmoke  solid ;
	position: relative; 
	left:695px;
	top:-330px;
	margin-right: auto;
	text-align: center;
	color:gray;
}
#capa4{
    width: 22%;
	height:170px;
	border: whitesmoke  solid ;
	position: relative; 
	left:1015px;
	top:-507px;
	margin-right: auto;
	text-align: center;
	color:gray;
}
#capa5{
	width: 22%;
	height:170px;
	border: whitesmoke  solid ;
	position: relative;
	left:55px;
	top:-450px; 
	margin-right: auto;
	text-align: center;
	color:gray;
}
#capa6{
	width: 22%;
	height:170px;
	border: whitesmoke  solid ;
	position: relative;
	left:375px;
	top:-628px; 
	margin-right: auto;
	text-align: center;
	color:gray;
}
#capa7{
	width: 22%;
	height:170px;
	border: whitesmoke  solid ;
	position: relative;
	left:695px;
	top:-805px; 
	margin-right: auto;
	text-align: center;
	color:gray;
}
#capa8{
	width: 22%;
	height:170px;
	border:whitesmoke solid ;
	position: relative;
	left:1015px;
	top:-983px; 
	margin-right: auto;
	text-align: center;
	color:gray;
}
.capa9{
	float: left;
	width: 70%;
	margin-left: 20px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-top: 15px;
	color: whitesmoke;
}
.capa10{
	float: left;
	width: 30%;
	margin-left: auto;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-top: 15px;
	text-align: center;
}
.capa11{
	float: right;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-top: 15px;
	text-align: center;
}
#capa12{
	position: relative;
	margin-left: -270px;
	margin-top: 25px;
	float: left;
	width: fit-content;
}

.imgC1{
	float: left;
	width: 20%;
	margin-left:100px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-top: 15px;
}

.i1{
	float: left;
	margin-left: 100px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}
p{
	color:  rgb(247, 239, 205);
}
h6{
	color:whitesmoke;
	text-align: center;
	font-size: 15px;
	border: 1px solid rgb(75, 69, 143);
}

.secciones h6{
	background-color: whitesmoke;
	color:black;
	text-align: center;
	font-size: 20px;
}

.seccion2{
	width: 100%;
	float: left;
}
#tabla{
	width: 100% ;
	border: 1px solid #ffffff;
}
th , td {
	border: 3px solid #402C60;
	color: antiquewhite;
}

